<?xml version="1.0" encoding="ISO-8859-1" ?> 
  
<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" 
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>


    <!-- General description of your web application -->

    <display-name>METAGENE</display-name>
    <description>
      This is the HIP METAGENE Application.
    </description>


    <!-- Context initialization parameters that define shared
         String constants used within your application, which
         can be customized by the system administrator who is
         installing your application.  The values actually
         assigned to these parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletContext().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.

         You can define any number of context initialization
         parameters, including zero.
    -->

    <context-param>
      <param-name>webmaster</param-name>
      <param-value>dzuo@hms.harvard.edu</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>
    

    <!-- Action Servlet Configuration -->
  <servlet>   
    <servlet-name>action</servlet-name>
        <servlet-class>
            org.apache.struts.action.ActionServlet
        </servlet-class>  
    <init-param>
        <param-name>application</param-name>
        <param-value>edu.harvard.med.hip.metagene.ApplicationResources</param-value>
    </init-param>   
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
        <param-name>nocache</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

    <!-- DBInitServlet Configuration -->
  <servlet>
    <servlet-name>dbInit</servlet-name>
        <servlet-class>
            edu.harvard.med.hip.metagene.database.DBInitServlet
        </servlet-class>  

    <!-- for access database 
    <init-param>
        <param-name>driverClass</param-name>
        <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </init-param>   
    <init-param>
      <param-name>jdbcURL</param-name>
      <param-value>jdbc:odbc:new_medgene</param-value>
    </init-param>
        for access database -->             

    <!-- for oracle database -->
    <init-param>
        <param-name>driverClass</param-name>
        <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>   
    <init-param>
      <param-name>jdbcURL</param-name>
      <param-value>jdbc:oracle:thin:@hipseq:1521:mdev</param-value>
    </init-param>

    <init-param>
      <param-name>user</param-name>
      <param-value>medgene_0803</param-value>
    </init-param>
    <init-param>
        <param-name>password</param-name>
        <param-value>medgene0803</param-value>
    </init-param>
    <!-- for oracle database -->   

    <init-param>
      <param-name>minCount</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
        <param-name>maxCount</param-name>
        <param-value>100</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>


  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- Welcome-file-list -->
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

    <taglib>
      <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
      <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    
    <taglib>
      <taglib-uri>/WEB-INF/struts-form.tld</taglib-uri>
      <taglib-location>/WEB-INF/struts-form.tld</taglib-location>
    </taglib>
    
    <taglib>
      <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
      <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    
    <taglib>
      <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
      <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
    </taglib>
    


    <!-- Servlet definitions for the servlets that make up
         your web application, including initialization
         parameters.  With Tomcat, you can also send requests
         to servlets not listed here with a request like this:

           http://localhost:8080/{context-path}/servlet/{classname}

         but this usage is not guaranteed to be portable.  It also
         makes relative references to images and other resources
         required by your servlet more complicated, so defining
         all of your servlets (and defining a mapping to them with
         a <servlet-mapping> element) is recommended.

         Servlet initialization parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletConfig().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.

         You can define any number of servlets, including zero.
    -->


    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>
