@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
	width: auto;
	text-align: center;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	15;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	background-color:#FFF;
        border-radius: 1.0em;
        margin-top: 3em;
        margin-bottom: 3em;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        margin-top: 1em;
        margin-bottom: 3em;
        display:none;
}
#cart{
    display:none;
}
#extrainfo{
    display:none;
}
#extrainfo2{
    display:none;
}
#mobilehome {
    display:block;
}
#rmm {
    display: block;
}
#admin {
    display: none;
}
#content {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
        padding-top: 2%;
}
#aside {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: inline-block;
        margin-top:5px;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: NEW 670 - NEW 1065 not OLD481px to OLD768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 670px) {
.gridContainer {
	width: 92%;
	padding-left: 2%;
	padding-right: 2%;
	background-color:#FFF;
        border-radius: 1.0em;
        margin-top: 3em;
        margin-bottom: 3em;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        display: block;
}
#content {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
        padding-top: 0%;
}
#aside {
	clear: none;
	margin-left: 1px;
	width: auto;
	display: inline-block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmm {
    display: none;
}
#cart{
    display:block;
}
#extrainfo{
    display:none;
}
#extrainfo2{
    display:block;
}
#mobilehome {
    display:none;
}
#admin {
    display: block;
}
}

/* Desktop Layout: NEW=1065px OLD=769px to a max of ? px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1065px) {
.gridContainer {
	width: 80%;
	max-width: 80%;
	padding-left: 2%;
	padding-right: 2%;
	margin: auto;
	background-color:#FFF;
        border-radius: 1.5em;
        margin-top: 3em;
        margin-bottom: 3em;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
	background-color: #FFF;
	height: auto;
        margin-top: 1em;
        margin-bottom: 1em;
}
#content {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
        padding-top: 0%;
}
#aside {
	display:inline-block;
        width:auto;
        margin-left: auto;
        margin-right: auto;
        text-align-last: center;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmm {
    display:none;
}
#cart{
    display:block;
}
#extrainfo{
    display:block;
}
#extrainfo2{
    display:inherit;
}
#mobilehome {
    display:none;
}
#admin {
    display: block;
}
}
#legal {
	clear: both;
	float: left;
	margin-left: 0;
	width: 5%;
	display: block;
}
#genesearch {
    padding-top: 2em;
}