/* Tag Definitions */
body {font-family:Arial,Helvetica,sans-serif; font-size:10px; color:#000000; padding-top:0px; padding-left:0px; top:0px; left:0px; margin-top:0px; margin-left:0px;}
a:link {color:#CC0000;}
a:visited {color:#CC0000;}
a:hover {color:#CCCCCC; text-decoration:none;}
a:active {
	color:#CC0000;
	font-weight: normal;
}
blockquote {font-family:Arial,Helvetica,sans-serif; font-size:12px; border-right:silver 1px dotted; padding-right:12px; border-top:silver 1px dotted; padding-left:12px; padding-bottom:2px; border-left:silver 1px dotted; padding-top:2px; border-bottom:silver 1px dotted;}
h1,h2,h3,h4,h5,h6 {font-family:Arial,Helvetica,sans-serif; margin-top:1em; margin-bottom:.5ex;}
h1{margin-top:0px; font-size:20px; MARGIN-BOTTOM:5px;}
h2{font-size:16px; border-bottom:1px solid #cccccc;}
h3{font-size:14px; color:#333333; border-bottom:1px dashed #cccccc;}
h4{font-size:12; color:#0054A6;}
h5{font-size:11px;}
h6{font-size:10px; color:#333333;}
.mainbodytextlarge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	font-style : normal;
	font-weight : normal;
}
img
{
	border-style: none;
}
/* Named Classes (alphabetically) */
.alert {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#FF0000;}
.alertheader {font-family:Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; color:#000000;}
.alertbig {font-family:Arial,Helvetica,sans-serif; font-size:14px; font-style:italic; color:#FF0000;}
.breadcrumbtext {font-family:Arial,Helvetica,sans-serif; font-size:12px; text-transform:lowercase; color:#0054A6;}
.breadcrumbtext A:link {color:#0054A6; text-decoration:none; BORDER-BOTTOM:none;}
.breadcrumbtext A:visited {COLOR:#0054A6; text-decoration:none; BORDER-BOTTOM:none;}
.breadcrumbtext A:hover {color:#0054A6; text-decoration:underline; BORDER-BOTTOM:none;}
.breadcrumbtext A:active {color:#0054A6; BORDER-BOTTOM:none; text-decoration:none;}
.breadcrumbtextactive {font-family:Arial,Helvetica,sans-serif; font-size:12px; text-transform:lowercase; color:#CC0000;}
UL.bulletedlist {font-family: Arial,Helvetica,sans-serif; font-size: 12px; LIST-STYLE-IMAGE:  url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/LF7V9TGA/mainbullet.gif);}
UL.bulletedlist LI {font-family: Arial,Helvetica,sans-serif; font-size: 12px; MARGIN-TOP: 10px; line-height: 14px;}
.controlpaneltext {font-family:Arial,Helvetica,sans-serif; color:#666666; font-size:12px;}
.controlpaneltext A:link {color:#666666; text-decoration:none; BORDER-BOTTOM:none;}
.controlpaneltext A:visited {COLOR:#666666; text-decoration:none; BORDER-BOTTOM:none;}
.controlpaneltext A:hover {COLOR:#7C1D20; TEXT-DECORATION:underline; BORDER-BOTTOM:none;}
.controlpaneltext A:active {color:#666666; text-decoration:none; BORDER-BOTTOM:none;}
.countrytext {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px; font-style:normal; line-height:normal; font-weight:normal; font-variant:normal; text-transform:none; color:#666666; text-decoration:none;}
A.countrytext:link {color:#666666;}
A.countrytext:visited {COLOR:#666666;}
A.countrytext:hover {COLOR:#0054A6;}
A.countrytext:active {color:#0054A6;}
TR.evenJobColorClass {background-color:#CCCCFF;}
.featuretext {font-family:Arial,Helvetica,sans-serif; font-size:12px;}
.featuretext A:link {color:#0054A6;	TEXT-DECORATION: none;}	
.featuretext A:visited {COLOR:#0054A6; TEXT-DECORATION: none;}
.featuretext A:hover {COLOR: #333333; TEXT-DECORATION: underline;}
.featuretext A:active {color:#0054A6; TEXT-DECORATION: none;}
.floatingnavcontent {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#000000; background-color:#f0f0f0;}
.floatingnavcontent a:link {color:#CC0000; text-decoration:underline;}
.floatingnavcontent a:visited {color:#CC0000; text-decoration:underline;}
.floatingnavcontent a:hover {color:#666666;text-decoration:none;}
.floatingnavcontent a:active {color:#CC0000; text-decoration:underline;}
.floatingnavheader {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#FFFFFF; background-color:#818181;}
.footertext {font-family:Arial,Helvetica,sans-serif; font-size:11px;}
.footertext A:link {color:#666666; text-decoration:underline; BORDER-BOTTOM:none;}
.footertext A:visited {COLOR:#81A649; text-decoration:underline; BORDER-BOTTOM:none;}
.footertext A:hover {COLOR:#333333; TEXT-DECORATION:none; BORDER-BOTTOM:none;}
.footertext A:active {color:#0054A6; text-decoration:underline; BORDER-BOTTOM:none;}
.formlabel {font-family:Arial,Helvetica,sans-serif; font-weight:bold; font-size:12px; color:#000000;}
.formlabelitalic {font-family:Arial,Helvetica,sans-serif; font-weight:bold; font-style:italic; font-size:12px; color:#000000;}
UL.homeBullet {LIST-STYLE-IMAGE: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/LF7V9TGA/mainbulletspaced.gif);}
UL.homeBullet LI {font-family:Arial,Helvetica,sans-serif; font-size:12px; padding-left:5px; padding-bottom:5px;}
.homeBullet A:link {color:#0054A6; BORDER-BOTTOM: dashed 1px #0054A6; TEXT-DECORATION: none;}
.homeBullet A:visited {color:#0054A6; BORDER-BOTTOM: dashed 1px #0054A6; TEXT-DECORATION: none;}
.homeBullet A:hover {color:#0054A6; BORDER-BOTTOM: dashed 1px #0054A6; TEXT-DECORATION: none;}
.homeBullet A:active {color:#0054A6; BORDER-BOTTOM: dashed 1px #0054A6; TEXT-DECORATION: none;}
.homeMainText {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#333333;}
.homepageLink {font-family:Arial,Helvetica,sans-serif; font-size:12px; PADDING-LEFT:15px; font-weight:bold; background-image: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/LF7V9TGA/ivgn_home_chevron1.gif); background-repeat:no-repeat; color:#0054A6; padding-bottom:12px;}
.homepageLink A:link {color:#0054A6; TEXT-DECORATION:none; BORDER-BOTTOM:medium none;}
.homepageLink A:visited {color:#0054A6; TEXT-DECORATION:none; BORDER-BOTTOM:medium none;}
.homepageLink A:hover {color:#333333; TEXT-DECORATION:underline; BORDER-BOTTOM:medium none;}
.homepageLink A:active {color:#0054A6; TEXT-DECORATION:none; BORDER-BOTTOM:medium none;}
.homepageText2 {font-family:Arial,Helvetica,sans-serif; font-size:15px; background-image:url(/imgLibrary/chevronheader1.gif); background-repeat:no-repeat; color:#000000; font-weight:bold; padding-top:2px; padding-left:20px;}
.homepageText3 {font-family:Arial,Helvetica,sans-serif; font-size:15px; background-image:url(/imgLibrary/circlearrow.gif); background-repeat:no-repeat; color:#000000; font-weight:bold; padding-top:0px; padding-left:20px; padding-bottom:2px;}
.itemtext {font-family:Arial,Helvetica,sans-serif; font-size:12px;}
.itemtext A:link {color:#7C1D20; text-decoration:underline; BORDER-BOTTOM:none;}
.itemtext A:visited {COLOR:#7C1D20; text-decoration:none; BORDER-BOTTOM:none;}
.itemtext A:hover {color:#666666; text-decoration:none; BORDER-BOTTOM:none;}
.itemtext A:active {color:#7C1D20; text-decoration:underline; BORDER-BOTTOM:none;}
A.leftnavtext {background-image: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/LF7V9TGA/leftnavarrow.gif); background-repeat:no-repeat; font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:15px; color:#000000; padding-left:7px; padding-right:0px; margin-left:4px; text-decoration:none;}
A.leftnavtext:link {color:#000000;}
A.leftnavtext:visited {COLOR:#000000;}
A.leftnavtext:hover {color:#0054A6;}
A.leftnavtext:active {color:#0054A6;}
A.leftnavtext_high {font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:15px; color:#FFFFFF; background-color:#0054A6; padding-left:0px; padding-right:6px; padding-top:3px; padding-bottom:3px; text-decoration:none; BORDER-BOTTOM:none;}
A.leftnavtext_high:link {color:#FFFFFF;}
A.leftnavtext_high:visited {color:#FFFFFF;}
A.leftnavtext_high:hover {color:#FFFFFF;}
A.leftnavtext_high:active {color:#FFFFFF;}
.leftsectiontitle {font-family:Arial,Helvetica,sans-serif; font-size:12px; background-color:#E0E0E0; color:#000000; text-align:center; font-weight:bold; padding-bottom:23px; padding-right:6px;}
A.leftsubnavon {font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:15px; color:#0054A6; text-decoration:none; padding-top:3px; padding-bottomt:0px; font-weight:bold;}
A.leftsubnavon:link {color:#0054A6;}
A.leftsubnavon:visited {color:#0054A6;}
A.leftsubnavon:hover {color:#0054A6;}
A.leftsubnavon:active {color:#0054A6;}
A.leftsubnavtext {font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:15px; color:#000000; text-decoration:none; padding-top:3px; padding-bottomt:0px;}
A.leftsubnavtext:link {color:#000000;}
A.leftsubnavtext:visited {color:#000000;}
A.leftsubnavtext:hover {color:#0054A6;}
A.leftsubnavtext:active {color:#0054A6;}
.lftsubtxt {padding-left:12px; padding-top:3px;}
.mainbodytext {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#000000;}
.mainbodytext a:link {color:#CC0000; text-decoration:underline;}
.mainbodytext a:visited {color:#CC0000; text-decoration:underline;}
.mainbodytext a:hover {color:#666666; text-decoration:none;}
.mainbodytext a:active {color:#CC0000; text-decoration:underline;}
.mainbodytexthead {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#000000;}
.morehit {font-family:Arial,Helvetica,sans-serif; font-size:12px;  background-image: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/LF7V9TGA/mainlinkhit.gif); background-repeat:no-repeat; text-transform:lowercase; color:#0054A6; background-position:235px; padding-right:25px;}
.morehit A:link {color:#0054A6; text-decoration:none;}
.morehit A:visited {color:#0054A6; text-decoration:none;}
.morehit A:hover {color:#333333; text-decoration:underline;}
.morehit A:active {color:#0054A6; text-decoration:none;}
TR.oddJobColorClass {background-color:White;}
UL.post-bullet LI {MARGIN-BOTTOM:9px; LINE-HEIGHT:20px;}
h4.red {color:#CC0000; font-weight:bold;}
.searchinputbox {font-family:Arial,Helvetica,sans-serif; border-right:#666666 1px solid; border-top:#666666 1px solid; font-size:12px; border-left:#666666 1px solid; color:#333333; border-bottom:#666666 1px solid; background-color:#DAEDFF;}
UL.sectionlist LI {font-family:Arial,Helvetica,sans-serif; font-size:12px; LIST-STYLE-IMAGE: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/LF7V9TGA/list_bullet.gif); LINE-HEIGHT:10px;}
.subnavtext {FONT-SIZE:12px; font-family:Arial,Helvetica,sans-serif; background-color:#F0F0F0;}
.subnavtext A:link {COLOR:#333333; TEXT-DECORATION:none;}
.subnavtext A:visited {COLOR:#333333; TEXT-DECORATION:none;}
.subnavtext A:hover {COLOR:#666666; TEXT-DECORATION:none;}
.subnavtext A:active {COLOR:#333333; TEXT-DECORATION:none;}
.subnavtextNS {FONT-SIZE:12px; font-family:Arial,Helvetica,sans-serif; background-color:#F0F0F0;}
.subnavtextNS A:link {COLOR:#333333; TEXT-DECORATION:none;}
.subnavtextNS A:visited {COLOR:#333333; TEXT-DECORATION:none;}
.subnavtextNS A:hover {COLOR:#666666; TEXT-DECORATION:none;}
.subnavtextNS A:active {COLOR:#333333; TEXT-DECORATION:none;}
.tablebody {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#000000; font-weight:normal; background:#dddddd;}
.tableheader {font-family:Arial,Helvetica,sans-serif; font-size:13px; color:#ffffff; font-weight:bold; background:#999999;}
.tableinfo {font-family:Arial,Helvetica,sans-serif; font-size:11px; color:#000000; background:#EEEEEE;}
.text {color:#000000; font-family:Arial,Helvetica,sans-serif; font-size:12px;}
.text A:link {color:#0054A6; BORDER-BOTTOM:#0054A6 1px dashed; TEXT-DECORATION:none;}
.text A:visited {COLOR:#cc0000; BORDER-BOTTOM:#cc0000 1px dashed; TEXT-DECORATION:none;}
.text A:hover {COLOR:#333333; TEXT-DECORATION:none; BORDER-BOTTOM:none;}
.text A:active {color:#0054A6; BORDER-BOTTOM:#0054A6 1px dashed;}
.textcolumn {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#666666; BORDER-RIGHT:#cccccc 1px solid; PADDING-RIGHT:10px; BORDER-TOP:#cccccc 1px solid; PADDING-LEFT:10px; BACKGROUND:#eeeeee; PADDING-BOTTOM:10px; MARGIN:0px; BORDER-LEFT:#cccccc 1px solid; WIDTH:200px; PADDING-TOP:10px; BORDER-BOTTOM:#cccccc 1px solid;}
h1.title {margin-left:10px; padding-left:20px; background-image: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/LF7V9TGA/chevronheader1.gif); background-repeat:no-repeat;}
.topnavtext {font-family:Arial,Helvetica,sans-serif; color:#FFFFFF; text-align:center; background-color:#818181;}
.underbullet {font-family:Arial,Helvetica,sans-serif; FONT-SIZE:12px; COLOR:#666; FONT-STYLE:normal; LINE-HEIGHT:20px;}

#alert {font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#666666; border-right:#ff0000 1px dotted; padding-right:12px; border-top:#ff0000 1px dotted; padding-left:12px; padding-bottom:2px; border-left:#ff0000 1px dotted; padding-top:2px; border-bottom:#ff0000 1px dotted; float:center;}
#form TABLE {BORDER-RIGHT:#666666 1px solid; BORDER-TOP:#666666 1px solid; BORDER-LEFT:#666666 1px solid; WIDTH:650px; COLOR:#000000; BORDER-BOTTOM:#666666 1px solid; BORDER-COLLAPSE:collapse; BACKGROUND-COLOR:#DAEDFF;}
#form TD {BORDER-RIGHT:#666666 1px solid; BORDER-TOP:#666666 1px solid; PADDING-LEFT:2px; BORDER-LEFT:#666666 1px solid; BORDER-BOTTOM:#666666 1px solid;}
#gray table {font-family:Arial,Helvetica,sans-serif; background-color:#CCCCCC; color:#000000; border:1px solid #FFFFFF; border-collapse:collapse;}
#gray td {font-family:Arial,Helvetica,sans-serif; border:1px solid #FFFFFF; padding-left:3px;}
#gray th {font-family:Arial,Helvetica,sans-serif; background-color:#818181; color:#FFFFFF;}
#navlist {font-family:Arial,Helvetica,sans-serif; BORDER-RIGHT:medium none; PADDING-RIGHT:0px; BORDER-TOP:#cccccc 1px solid; PADDING-LEFT:0px; FONT-SIZE:90%; FLOAT:left; PADDING-BOTTOM:0px; MARGIN:0px; BORDER-LEFT:#ccc 1px solid; WIDTH:658px; PADDING-TOP:0px; BORDER-BOTTOM:#ccc 1px solid;}
#sectionlist {font-family:Arial,Helvetica,sans-serif; color:#000000; BORDER-RIGHT:#cccccc 1px solid; BORDER-TOP:#cccccc 1px solid; BACKGROUND:#F0F0F0; float:left; MARGIN:0px; BORDER-LEFT:#cccccc 1px solid; BORDER-BOTTOM:#cccccc 1px solid;}
#sidebarcol {font-family:Arial,Helvetica,sans-serif; color:#666666; BORDER-RIGHT:#cccccc 1px solid; PADDING-RIGHT:10px; BORDER-TOP:#cccccc 1px solid; PADDING-LEFT:10px; BACKGROUND:#ffffff; PADDING-BOTTOM:10px; MARGIN:0px; BORDER-LEFT:#cccccc 1px solid; WIDTH:200px; PADDING-TOP:10px; BORDER-BOTTOM:#cccccc 1px solid;}
#sidebarcol H1{font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #E0E0E0; color: #000000; text-align:center; font-weight: bold;}
